<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <title>My App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav>
      <a href="{{ url_for('users_list') }}">کاربران</a>
      <a href="{{ url_for('auth_register') }}">افزودن</a>
      <a href="{{ url_for('auth_login') }}">ورود</a>
      <form method="POST" action="{{ url_for('auth_logout') }}">
        <button type="submit">خروج</button>
      </form>
    </nav>

    {% block content %} {% endblock %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category, message in messages %}
    <div class="flash-message flash-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
  </body>
</html>
