{% extends "base.html" %} {% block content %}

<form method="POST" action="{{ url_for('posts_create') }}">
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="title" /></td>
        <td><input type="text" name="content" /></td>
      </tr>
    </tbody>
  </table>

  <label for="tags">تگ‌ها (با کاما یا فاصله جدا کنید)</label>
  <input
    type="text"
    id="tags"
    name="tags"
    placeholder="flask, python web-dev"
  />

  <button type="submit">ثبت</button>
</form>

{% endblock %}
